# Web Scraping From the Real Website

In [185]:
from bs4 import BeautifulSoup
import requests

In [186]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [187]:
table = soup.find_all('table')[0]
print(table)

In [188]:
table_titles = table.find_all('th')

In [189]:
world_table_titles = [titles.text.strip() for titles in table_titles]
print(world_table_titles)

In [190]:
import pandas as pd

In [191]:
df = pd.DataFrame(columns = world_table_titles)
df

In [192]:
column_data = table.find_all('tr')

In [193]:
for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = individual_data

In [219]:
df.head(20)

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"648,125",6.0%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"574,785",11.9%,"1,525,000","Seattle, Washington"
2,3,Apple,Electronics industry,"383,482",-2.8%,"161,000","Cupertino, California"
3,4,UnitedHealth Group,Healthcare,"371,622",14.6%,"440,000","Minnetonka, Minnesota"
4,5,Berkshire Hathaway,Conglomerate,"364,482",20.7%,"396,500","Omaha, Nebraska"
5,6,CVS Health,Healthcare,"357,776",10.9%,"259,500","Woonsocket, Rhode Island"
6,7,ExxonMobil,Petroleum industry,"344,582",-16.7%,"61,500","Spring, Texas"
7,8,Alphabet,Technology and cloud computing,"307,394",8.7%,"182,502","Mountain View, California"
8,9,McKesson Corporation,Health,"276,711",4.8%,"48,000","Irving, Texas"
9,10,Cencora,Pharmacy wholesale,"262,173",9.9%,"44,000","Conshohocken, Pennsylvania"
10,11,Costco,Retail,"242,290",6.8%,"316,000","Issaquah, Washington"
11,12,JPMorgan Chase,Financial services,"239,425",54.7%,"309,926","New York City, New York"
12,13,Microsoft,Technology and cloud computing,"211,915",6.9%,"221,000","Redmond, Washington"
13,14,Cardinal Health,Healthcare,"205,012",13.0%,"47,520","Dublin, Ohio"
14,15,Chevron Corporation,Petroleum industry,"200,949",-18.4%,"45,600","San Ramon, California"
15,16,Cigna,Health insurance,"195,265",8.2%,"71,413","Bloomfield, Connecticut"
16,17,Ford Motor Company,Automotive industry,"176,191",11.5%,"177,000","Dearborn, Michigan"
17,18,Bank of America,Financials,"171,912",49.4%,"212,985","Charlotte, North Carolina"
18,19,General Motors,Automotive industry,"171,842",9.6%,"163,000","Detroit, Michigan"
19,20,Elevance Health,Healthcare,"171,340",9.4%,"104,900","Indianapolis, Indiana"

In [215]:
df.to_csv(r"Enter your path", index = False)         #change the path